@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #040245;
  padding: 0 5vw 0 5vw;
  box-sizing: border-box;
  background-color: #051933;
  background-image: linear-gradient(to top, #031124, #052042);
  position: relative;
  gap: 200px;
}

@media (min-width: 1200px) {
  footer {
    gap: 400px;
  }
}

.logo-footer-sociais {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
}

.logo-footer {
  width: 150px;
  height: 150px;
  background-image: url(/img/logo-footer.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 15px 30px 0px 0px;
}

.sociais-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: auto;
  margin: 20px 0 40px 0;
}

.icon-footer {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
}

.whatsapp,
.youtube,
.instagram {
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.whatsapp:hover,
.youtube:hover,
.instagram:hover {
  opacity: 1;
}

.whatsapp {
  background-image: url(/img/whatsapp-icon.svg);
}

.youtube {
  background-image: url(/img/youtube-icon.svg);
}

.instagram {
  background-image: url(/img/instagram-icon.svg);
}

.contato-footer {
  margin-top: 50px;
  width: 45%;
  max-width: 450px;
  height: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  position: relative;
}

.contato-footer h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  position: absolute;
  top: -30px;
  left: -45px;
}

.contato-footer p {
  display: inline-block;
  position: relative;
  font-size: 15px;
  margin-top: 20px;
  font-weight: 200;
  line-height: 1.3;
  text-decoration: none;
  color: white;
}

.contato-footer a {
  display: block;
}

.email-footer::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -50px;
  content: "";
  background-image: url(/img/email.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 30px;
  height: 30px;
}

.endereco-footer::before {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -50px;
  content: "";
  background-image: url(/img/localizacao.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 30px;
  height: 30px;
}

.whatsapp-footer::before {
  display: inline-block;
  position: absolute;
  top: -4px;
  left: -50px;
  content: "";
  background-image: url(/img/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 30px;
  height: 30px;
}

@media (max-width: 920px) {
  footer {
    flex-direction: column;
    padding-bottom: 50px;
    gap: unset;
  }

  .logo-footer-sociais {
    margin-top: 30px;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .contato-footer {
    width: 90%;
    height: 100%;
  }

  .contato-footer p {
    margin-left: 30px;
  }
  .contato-footer h4 {
    top: -50px;
    left: -10px;
  }
}
