@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

.nav-content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 68px;
  width: 100%;
}

.nav-content-scroll {
  display: flex;
  position: fixed;
  top: -100px;
  z-index: 99;
  justify-content: right;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  width: 100%;
  background-color: white;
  transition: ease 0.4s;
}

@media (max-width: 920px) {
  .nav-content-scroll {
    display: none;
  }
}

.nav-content-scroll::before {
  position: absolute;
  left: 100px;
  content: "";
  width: 100px;
  height: 100px;
  background-image: url(/img/logo-principal.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-elements-content {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  padding: 20px 0 20px 0;
  /* border-bottom: 1px solid rgb(238, 238, 238);*/
}

.nav-element {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  margin: 0 20px 0 20px;
  color: #424242;
}

/*
.nav-element {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  margin: 0 20px 0 20px;
  color: #424242;
}
*/

.ne1 {
  width: calc(83.656px + 4px);
}
.ne2 {
  width: calc(120.641px + 4px);
}
.ne3 {
  width: calc(146.953px + 4px);
}
.ne4 {
  width: calc(112.641px + 4px);
}
.ne5 {
  width: calc(62.078px + 4px);
}

.nav-element:hover {
  font-weight: 200;
  color: #999999;
}

@media (max-width: 920px) {
  .nav-content {
    display: none;
  }
}
