.whatsapp-flutuante {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(94, 213, 138);
  border-radius: 100px;
  z-index: 99;
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/img/whatsapp-640x640.png);
  background-position: center;
  background-size: cover;
  animation: opacidade 2s;
}

@keyframes opacidade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
