.frase-imp {
  width: 100%;
  padding: 10px 30px 40px 30px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
  box-sizing: border-box;
  color: #021e43;
  font-weight: 500;
}

@media all and (min-width: 920px) {
  .frase-imp {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 30px 40px 80px 40px;
    font-size: 30px;
    font-weight: 500;
  }
}
