body {
  font-family: "Inter", sans-serif;
}

body::before {
  display: block;
  content: "";
  width: 150px;
  height: 150px;
  background-image: url(/img/logo-principal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px auto 40px auto;
}

@media all and (min-width: 920px) {
  body {
    padding-top: 150px;
  }

  body::before {
    display: none;
  }
}

h1 {
  font-family: "Inter", sans-serif;
  color: #022245;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
}

.texto-blog {
  padding: 150px;
}

.texto-blog p,
span {
  line-height: 1.3;
  color: #333333;
  margin-top: 10px;
}
